@CHARSET "UTF-8";

.wide-content {
	margin: auto;
	width: 800px;
}

.narrow-content {
	margin: auto;
	width: 500px;
}

#output {
  width:100%;
  height:500px;
  overflow-x:scroll;
  overflow-y:scroll;
}

.ui-listview>li p.wrap {
	white-space: normal;
}

pre.prettyprint.code {
    border-style: none;
    height: 500px;
    width: 800px;
    overflow-y: scroll;
    tab-size: 2;
}
